<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <div class="card">

        <h1>Usage Logs</h1>

        <table>
            <tr>
                <th>ID</th>
                <th>Resume</th>
                <th>Score</th>
                <th>Date</th>
            </tr>

            {% for log in logs %}
            <tr>
                <td>{{ log[0] }}</td>
                <td>{{ log[1] }}</td>
                <td>{{ log[4] }}</td>
                <td>{{ log[5] }}</td>
            </tr>
            {% endfor %}

        </table>

    </div>
</div>

</body>
</html>